<div *ngFor="let card of cards" class="card">
    <div class="mini-img-profile">
        <img [src]="card.profileImg" alt="Profile image" class="img">
    </div>
    <div class="main-content-card">
        <div class="info-post">
            <span class="name">{{ card.name }}</span>
            <span class="name">•</span>
            <span class="date">{{ card.date }}</span>
        </div>

        <div class="tag">
            {{ card.tag }}
        </div>

        <h2>{{ card.title }}</h2>

        <p [style.white-space]="'pre-line'">{{ card.description }}</p>

        <!-- HASHTAGS -->
        <div *ngIf="card.hashtags?.length" class="hashtags">
            <span *ngFor="let hashtag of card.hashtags" class="hashtag">#{{ hashtag }}</span>
        </div>

        <!-- LINKS -->
        <p *ngIf="card.repository">🔗 Repository:
            <a [href]="card.repository.url" target="_blank">
                {{ card.repository.label }}
            </a>
        </p>
        <p *ngIf="card.link">🌐 Link:
            <a [href]="card.link.url" target="_blank">
                {{ card.link.label }}
            </a>
        </p>
        <img [src]="card.mainImg" alt="Main image" class="main-img">
    </div>
</div>