<section class="about-me">
    <div class="about-content">
        <p>
            👨‍💻 <strong>Desarrollador de Software | Ingeniero de Sistemas</strong> (Próximo a Graduarse) Tengo
            experiencia en <strong>Python, Flask, Node.js y Angular</strong>, con un enfoque en el desarrollo de
            aplicaciones escalables,
            arquitectura limpia y mantenimiento eficiente del código. También manejo Docker, lo que me permite optimizar
            el despliegue y la administración de entornos de desarrollo.
        </p>
        <p>
            🚀 <strong>Liderazgo y Trabajo en Equipo:</strong> <br>
            Durante mi etapa como estudiante, he liderado equipos de desarrollo en proyectos para startups y pequeñas
            empresas, coordinando tareas, asegurando buenas prácticas y fomentando la colaboración entre los miembros
            del equipo.
        </p>
        <p>
            🔍 <strong>Siempre aprendiendo:</strong>
            Me apasiona la innovación tecnológica, explorar nuevas herramientas y fortalecer mis habilidades en backend,
            frontend, cloud computing y buenas prácticas de desarrollo. Estoy en constante aprendizaje para mejorar mis
            capacidades y aportar valor en cada proyecto en el que participo.
        </p>
    </div>
</section>