<section class="about-me">
    <div class="about-content">
        <h1>👋 Hi, I'm Brayan Roa!</h1> <br>
        <p>
            👨‍💻 <strong>Software Developer | Systems Engineer (Soon to Graduate)</strong> (Próximo a Graduarse) I have
            experience in <strong>Python, Flask, Node.js, and Angular</strong>, with a focus on <strong>scalable
                application development, clean
                architecture, and efficient code maintenance</strong>. I also have knowledge of Docker, allowing me to
            optimize
            deployment and manage development environments effectively.
        </p>
        <p>
            🚀 <strong>Leadership & Teamwork:</strong> <br>
            During my time as a student, I have led development teams in projects for startups and small businesses,
            coordinating tasks, ensuring best practices, and fostering collaboration among team members.
        </p>
        <p>
            🔍 <strong>Always Learning:</strong> <br>
            I am passionate about <strong>technological innovation</strong>, exploring new tools, and strengthening my
            skills in <strong>backend,
                frontend, cloud computing, and development best practices.</strong> I am constantly learning to improve
            my abilities
            and add value to every project I contribute to.
        </p>
    </div>
</section>